/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  font-family: "Montserrat", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #fcc;
}

.no-margin {
  margin: 0;
}

.super-container {
  max-width: calc(100vw);
  overflow: hidden;
}

/*#region navigation region */
.header {
  display: block;
  position: fixed;
  top: 47px;
  width: 100%;
  z-index: 100;
  transition: all 400ms ease;
}

.header-container {
  width: 100%;
  height: 121px;
  background: #131a2f;
  transition: all 400ms ease;
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.logo-container {
  transform: translateY(8px);
  justify-content: flex-start !important;
  width: 200px;
  max-width: 200px;
  position: absolute;
}

.logo {
  height: 100%;
  padding-left: 72px;
}

.company-name {
  font-size: 24px;
  font-weight: 100;
  line-height: 0.75;
  color: #ffffff;
  text-transform: uppercase;
}

.company-tagline {
  font-size: 10px;
  font-weight: 500;
  color: #929292;
  letter-spacing: 0.13em;
  margin-top: 2px;
  padding-left: 2px;
  text-transform: uppercase;
}

.logo-img {
  position: absolute;
  top: -34px;
  left: 41px;
  width: 50px;
  height: 41px;
  transition: all 400ms ease;
}

.logo-img img {
  max-width: 100%;
}

.nav-container {
  margin-left: auto !important;
}

.nav-list {
  height: 100%;
}

.nav-item {
  display: inline-block;
  position: relative;
  margin-right: -4px;
  padding-top: 2px;
}

.nav-item a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  line-height: 121px;
  padding-left: 22px;
  padding-right: 22px;
  transition: all 200ms ease;
}

.nav-item.active a {
  color: #fe435b;
}

.nav-item.active::after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fe435b;
  content: "";
}

a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

ul {
  list-style: none;
  margin-bottom: 0px;
  margin-top: 0;
}

/*#endregion*/

/*#region body styles */
div {
  display: block;
  position: relative;
  box-sizing: border-box;
}

.container {
  max-width: calc(95vw);
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

/*#endregion */

/*#region home screen region */
.home {
  width: auto;
  height: 100vh;
}

#home-bg-img {
  background-image: url(../images/home.jpg);
}

.home-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home-content {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}

.home-bg-text {
  font-size: calc(100vw / 6);
  font-weight: 900;
  color: #fdaa27;
  opacity: 0.34;
  text-transform: uppercase;
  line-height: 0.75;
}

.home-text-foreground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: calc(100vw / 20);
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0px 11px 51px rgba(0, 0, 0, 0.35);
}

/*#endregion */

/*#region planning region */

.planning-section {
  width: 100%;
  padding-top: 63px;
  padding-bottom: 70px;
  z-index: 0;
  background: transparent;
}

.planning-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 400px;
  background: transparent;
}

#planning-bg-img {
  background-image: url(../images/planning-bg.jpg);
}
/*#endregion */
/*#region tablet styles */
@media screen and (min-width: 500px) and (max-width: 999px) {
  /* applies to screens wider than 499px */

  .home-bg-text {
    font-size: 100px;
  }

  .home-text-foreground {
    font-size: 50px;
  }
}

/*#endregion */

/*#region desktop styles */
@media screen and (min-width: 1000px) {
  /* applies to screens wider than 999px */

  .home-bg-text {
    font-size: 150px;
  }
}

/*#endregion */
